{{#extend "stylesheets"}}
<link rel="stylesheet" href="/css/index.css"/>
{{/extend}}
<h1>page from app</h1>
{{content}}

{{#extend "scripts"}}
<script>
  document.write('foo bar!');
</script>
{{/extend}}