<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{page/title}}</title>

	{{#block "style"}}
    {{/block}}

</head>
<body>
    {{#block "body"}}
    
    {{/block}}

    {{#block "script"}}
    
    {{/block}}
</body>
</html>