<!doctype html>
<html lang="en-us">
<head>
  <title>{{page.title}}</title>

  {{#block "stylesheets"}}
  {{/block}}
</head>
    <body>
        {{#block "body"}}
        {{/block}}
 
        {{#block "script"}}
        {{/block}}
 
    </body>
</html>