{{#extend "layout.main"}}
	{{#content "stylesheets"}}
	{{/content}}
	{{#content "body"}}
		<h1>page from views</h1>
		{{text}}
	{{/content}}
	{{#content "scripts"}}
	<script>
	  document.write('foo bar!');
	</script>
	{{/content}}
{{/extend}}